/*

8. Use an adjacent selector to get the `strong` inside `.dfn`, the strong that starts “Botanically…”
  — add `color: #fff;`


9. Select all the `a` tags, but not the `a` tags with the class of `.no-highlight`
  — add `background-color: #719e07;`


10. Select the link with `rel="external"` attribute
  — add `background-color: #2694d8;`

11. Select the first `li` inside the `ol`
  — add `color: #719e47;`

*/

body {
  background-color: #fdf6e3;
}

header, footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

.logo {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

h2 {
  color: #93a1a1;
}

.wrapper > .dfn {
  background-color: #b58900;
}

.dfn > strong {
  color: #fff;
}

a {
  background-color: #719e07;
}

rel="external" {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(even) {
  background-color: #586e75;
}

.types li:nth-child(3n+0) {
  background-color: #d04b16;
}
